* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Moderate_cyan: hsl(176, 50%, 47%);
  --Dark_cyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Dark_gray: hsl(0, 0%, 48%);
  --Border_gray: hsl(0deg 0% 48% / 28%);
  --GrayBar: hsl(0deg 0% 48% / 25%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Commissioner", sans-serif;
  position: relative;
  display: grid;
}
body .subtitle {
  color: var(--Dark_gray);
}
body button {
  border: none;
  padding: 1.4rem 3rem;
  border-radius: 2rem;
  background-color: var(--Moderate_cyan);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease background;
}
body button:hover {
  background-color: var(--Dark_cyan);
}
body header {
  width: 100%;
  height: 40vh;
  padding: 1.5rem;
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: top;
  display: grid;
  align-items: flex-start;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
body header nav .menu-btn {
  display: block;
  cursor: pointer;
}
body header nav .menu-btn .icon-close {
  display: none;
}
body header nav .menu-btn .hamburguer-btn {
  display: block;
}
body header nav ul {
  display: none;
  list-style-type: none;
}
body header nav ul li {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}
body header nav ul li:hover a {
  color: var(--Moderate_cyan);
}
body header nav ul li a {
  color: var(--Black);
  text-decoration: none;
  transition: 0.2s ease color;
}
body main {
  width: 100%;
  display: grid;
  position: relative;
  background: rgb(255, 255, 255);
}
body main .container {
  width: 90vw;
  display: grid;
  margin: 0 auto;
  position: relative;
  top: -5rem;
  gap: 4rem;
}
body main .container .box-main {
  display: grid;
  padding: 1rem 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
body main .container .title-project-area {
  width: 100%;
  background-color: white;
  justify-items: center;
  text-align: center;
  border-radius: 8px;
}
body main .container .title-project-area img.logo-projeto {
  position: relative;
  top: -4rem;
}
body main .container .title-project-area .project-desc {
  display: grid;
  gap: 2rem;
}
body main .container .title-project-area .project-desc .subtitle {
  font-weight: 500;
  font-size: 1.2rem;
}
body main .container .title-project-area .title-project-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  gap: 1rem;
}
body main .container .title-project-area .title-project-footer .bookmark {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
body main .container .title-project-area .title-project-footer .bookmark svg {
  z-index: 5;
}
body main .container .title-project-area .title-project-footer .bookmark.bookmarked {
  transition: 0.4s ease;
}
body main .container .title-project-area .title-project-footer .bookmark.bookmarked svg {
  z-index: 5;
}
body main .container .title-project-area .title-project-footer .bookmark.bookmarked svg circle {
  fill: var(--Dark_cyan);
}
body main .container .title-project-area .title-project-footer .bookmark.bookmarked svg path {
  fill: white;
}
body main .container .title-project-area .title-project-footer .bookmark.bookmarked .bookmark-text {
  color: var(--Dark_cyan);
  background-color: #f4f8f9;
}
body main .container .title-project-area .title-project-footer .bookmark.bookmarked .bookmark-text::after {
  content: "Bookmarked";
}
body main .container .title-project-area .title-project-footer .bookmark .bookmark-text {
  padding: 1rem 3rem;
  display: none;
  background-color: var(--Border_gray);
  border-radius: 2rem;
  left: 4rem;
  font-weight: 500;
  z-index: 1;
  position: relative;
  left: -1.8rem;
  font-weight: 700;
}
body main .container .title-project-area .title-project-footer .bookmark .bookmark-text::after {
  content: "Bookmark";
}
body main .container .values-project-area {
  text-align: center;
}
body main .container .values-project-area ul {
  display: grid;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
body main .container .values-project-area ul .diviser {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.195);
  height: 1px;
  margin: 0 auto;
}
body main .container .values-project-area ul li {
  display: grid;
  gap: 1rem;
  padding: 1.5rem 0;
}
body main .container .values-project-area ul li h2 {
  font-size: 3rem;
}
body main .container .values-project-area ul li span {
  font-size: 1.3rem;
  font-weight: 500;
}
body main .container .values-project-area .backed-bar-progress {
  width: 100%;
  padding: 1.3rem 0;
}
body main .container .values-project-area .backed-bar-progress .bar {
  width: 100%;
  height: 1rem;
  background-color: var(--GrayBar);
  margin: 0 auto;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
}
body main .container .values-project-area .backed-bar-progress .bar::after {
  content: "";
  width: 80%;
  height: 100%;
  background: var(--Moderate_cyan);
  position: absolute;
  left: 0;
}
body main .container .about-project-area {
  display: grid;
  gap: 2.5rem;
}
body main .container .about-project-area h3,
body main .container .about-project-area p {
  font-size: 1.3rem;
}
body main .container .about-project-area .text-about {
  display: grid;
  gap: 2rem;
  line-height: 2rem;
}
body main .container .about-project-area .text-about h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
body main .container .about-project-area .card-about {
  width: 100%;
  min-height: 320px;
  border-radius: 0.6rem;
  padding: 1.6rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.8rem;
  border: 1px solid hsla(0deg, 0%, 33%, 0.09);
}
body main .container .about-project-area .card-about.disabled {
  opacity: 0.6;
  filter: brightness(0.8);
}
body main .container .about-project-area .card-about.disabled button {
  cursor: auto;
  background-color: var(--Dark_gray);
}
body main .container .about-project-area .card-about .header-card {
  display: grid;
  gap: 0.8rem;
}
body main .container .about-project-area .card-about .header-card h3 {
  font-weight: 700;
}
body main .container .about-project-area .card-about .header-card p {
  color: var(--Moderate_cyan);
}
body main .container .about-project-area .card-about .footer-card {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
body main .container .about-project-area .card-about .footer-card h4 {
  font-size: 2.6rem;
}
body main .container .about-project-area .card-about .footer-card h4 span {
  font-size: 1.4rem;
  color: var(--Dark_gray);
}
body.open-modal section.modalList {
  display: block;
}
body.open-modal header, body.open-modal main {
  filter: brightness(0.5);
}
body section.modals {
  position: absolute;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  top: 6vh;
  border-radius: 1rem;
  justify-self: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem 2.5rem;
}
body section.modalList {
  width: 360px;
  min-height: 460px;
  display: none;
}
body section.modalList .container {
  padding-bottom: 2rem;
}
body section.modalList .container .header-modal-list {
  display: grid;
  gap: 1.4rem;
  position: relative;
  padding: 2rem 0;
}
body section.modalList .container .header-modal-list h2 {
  font-size: 1.6rem;
  font-weight: 700;
}
body section.modalList .container .header-modal-list .close-modal {
  position: absolute;
  right: 0;
  cursor: pointer;
}
body section.modalList .container .cards-modal-list {
  display: grid;
  gap: 1rem;
}
body section.modalList .container .cards-modal-list .card-modal {
  border: 1.6px solid var(--GrayBar);
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  height: 10rem;
  transition: 0.4s ease height;
  cursor: pointer;
}
body section.modalList .container .cards-modal-list .card-modal.card-modal-open {
  height: 19rem;
}
body section.modalList .container .cards-modal-list .card-modal.card-modal-open .check-circle {
  position: relative;
}
body section.modalList .container .cards-modal-list .card-modal.card-modal-open .check-circle::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-48%);
  background-color: var(--Moderate_cyan);
  border-radius: 50%;
}
body section.modalList .container .cards-modal-list .card-modal.card-modal-open .footer-card-modal {
  border-top: 1px solid var(--GrayBar);
}
body section.modalList .container .cards-modal-list .card-modal .container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
body section.modalList .container .cards-modal-list .card-modal .container h2 {
  font-size: 1rem;
  color: var(--Moderate_cyan);
}
body section.modalList .container .cards-modal-list .card-modal .container .header-card-modal {
  display: flex;
  justify-content: space-between;
}
body section.modalList .container .cards-modal-list .card-modal .container .header-card-modal .header-card-modal-left {
  display: flex;
  gap: 2rem;
}
body section.modalList .container .cards-modal-list .card-modal .container .header-card-modal .header-card-modal-left .check-circle {
  width: 1.8rem;
  height: 1.8rem;
  border: var(--Moderate_cyan) 1px solid;
  border-radius: 50%;
}
body section.modalList .container .cards-modal-list .card-modal .container .header-card-modal .header-card-modal-left .left-box {
  display: flex;
  gap: 1rem;
}
body section.modalList .container .cards-modal-list .card-modal .container .header-card-modal .header-card-modal-right h2 {
  color: var(--Black);
  font-size: 1.1rem;
}
body section.modalList .container .cards-modal-list .card-modal .container .header-card-modal .header-card-modal-right h2 span {
  font-size: 1rem;
  padding-left: 0.2rem;
  color: var(--Dark_gray);
}
body section.modalList .container .cards-modal-list .card-modal .container p {
  padding-left: 3rem;
  padding-bottom: 1rem;
}
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal .footer-card-modal-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal .footer-card-modal-right input {
  width: 6rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid var(--Border_gray);
  outline: none;
  box-shadow: none;
  position: relative;
  padding-left: 1.6rem;
}
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal .footer-card-modal-right input[type=number]::-webkit-outer-spin-button,
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal .footer-card-modal-right input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal .footer-card-modal-right input[type=number] {
  -moz-appearance: textfield;
}
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal .footer-card-modal-right span {
  position: absolute;
  left: 0.8rem;
  color: var(--Dark_gray);
  font-weight: 700;
}
body section.modalList .container .cards-modal-list .card-modal .footer-card-modal .footer-card-modal-right button {
  width: 6rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

@media (max-width: 819px) {
  body.activeUl main,
body.activeUl .logo {
    transition: 0.4s filter;
    filter: brightness(0.5);
  }
  body.activeUl nav .menu-btn .icon-close {
    display: block;
  }
  body.activeUl nav .menu-btn .hamburguer-btn {
    display: none;
  }
  body.activeUl nav ul {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 4.5rem;
    border-radius: 1rem;
    display: block;
    z-index: 998;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  body.activeUl nav ul li {
    padding: 2rem 1.5rem;
  }
  body.activeUl nav ul li.center-item-menu {
    border-top: 1px solid var(--Border_gray);
    border-bottom: 1px solid var(--Border_gray);
  }

  body section.modalList .container .cards-modal-list .card-modal {
    height: 11.5rem;
  }
}
@media (min-width: 820px) {
  html {
    font-size: 60%;
  }

  body main .container {
    width: 45vw !important;
  }

  body main .container .title-project-area .title-project-footer {
    justify-content: space-between;
  }

  body header {
    background-image: url(../images/image-hero-desktop.jpg);
  }

  body header nav {
    padding: 2rem 6rem;
  }

  body header nav .menu-btn {
    display: none;
  }

  body header nav ul {
    display: block;
    display: flex;
    gap: 2rem;
  }
  body header nav ul li {
    cursor: auto;
  }
  body header nav ul li a {
    color: white;
  }

  body main .container .title-project-area .title-project-footer .bookmark .bookmark-text {
    display: flex;
  }

  body main .container .values-project-area ul {
    display: flex;
    justify-self: left;
  }
  body main .container .values-project-area ul:last-child {
    margin-left: 5rem;
  }

  body main .container .values-project-area ul .diviser {
    width: 1px;
    margin-left: 5rem;
    height: 50%;
  }
  body main .container .values-project-area ul .diviser.firt {
    margin-left: 1rem;
  }

  .footer-card {
    width: 100%;
    justify-content: space-between;
    flex-direction: row !important;
  }

  body main .container .about-project-area .card-about {
    min-height: 225px;
  }

  body main .container .about-project-area .card-about .header-card {
    display: flex;
    gap: 0.8rem;
    width: 100%;
    justify-content: space-between;
  }

  body section.modals {
    position: fixed;
  }

  body section.modalList {
    width: 460px;
  }

  body section.modalList .container .cards-modal-list .card-modal.card-modal-open {
    height: 16rem;
  }
}
@media (min-width: 425px) {
  body main .container {
    width: 80vw;
  }
}
@media (max-width: 325px) {
  body section.modalList {
    width: 302px;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */